  /* -- Jumbotron --*/
  .jumbotron {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  .jumbotron.jumbotron-fluid.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
  }
  /* -- Button --*/
  .btn-3 {
    background-color: #4F093F;
    color: white;
    border-radius: 8px;
    height: 44px;
    width: 91.47px;
    font-size: 18px;
    float: right;
    margin-right: 15px;
  }
  .btn-3:hover {
    background-color: #723A65;
  }
  .btn-2 {
    background-color: #4F093F;
    color: white;
    border-radius: 8px;
    height: 96px;
    width: 236px;
    font-size: 36px;
    float: right;
  }
  .btn-2:hover {
    background-color: #723A65;
  } 
  .btn-1 {
    background-color: #4F093F;
    color: white;
    border-radius: 8px;
    height: 50px;
    width: 160px;
    font-size: 24px;
    float: right;
  }
  .btn-1:hover {
    background-color: #723A65;
  }
    /* -- card --*/
  .card-text {
    color: #4F093F;
  }
  /* -- edit --*/
  .tabs-wrapper {
    border-bottom: none;
    border-top: none;
    margin-bottom: 0;
    margin-top: 60px;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .nav-tabs {
    border: none;
  }
  
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-tabs > li {
    margin: 20px;
    text-align: right;
    margin-right: 0;
    float: none;
    width: 100%;
  }
  
  .nav-tabs > li > a {
    border-right: 6px solid #d2d3d4;
    padding: 0;
    padding-right: 15px;
    font-size: 1.2rem;
    line-height: 35px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
    position: relative;
    display: block;
    text-align: right;
    margin-right: 0;
  }
  
  .nav-tabs >li.active a,
  .nav-tabs > li a:hover,
  .nav-tabs > li.active a:focus,
  .nav-tabs > li.active a:hover {
    border: none;
    border-right: 6px solid #d2282e;
    text-decoration: none;
  }

  .nav-tabs > li a:hover,
  .nav-tabs > li.active a:focus,
  .nav-tabs > li.active a:hover {
    color: #d2282e;
  }
  
  .normal-tabs-content {
    margin-top: 15px;
  }
  
  #opportunity h2,
  #success h2,
  #solution h2 {
    font-weight: 800;
    font-size: 1.8rem;
    margin-top: 0;
    color: #3d3d3d;
    margin-bottom: 32px;
  }
  
  .fade.in {
    opacity: 1;
  }
  
  blockquote {
    margin: 1rem 0 1rem 1rem;
    border-left: 2px solid #3d5d6f;
    padding-left: 1rem;
  }
  
  @media screen and (max-width: 991px) {
  
    .normal-tabs-nav.nav-tabs > li,
    .normal-tabs-nav.nav-tabs > li a,
    .normal-tabs-nav.nav-tabs > li a:hover,
    .normal-tabs-nav.nav-tabs > li a:focus {
      display: block;
      text-align: center;
      width: 100%;
      margin: 4px auto;
      border-right: 0;
    }

    .col-md-3, .col-md-8 {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
