@charset "utf-8";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/*Body and General Code */
body{
  margin-right: 20px;
  margin-left: 20px;
}

/*NAV*/
/*TABS*/
.tabs-wrapper {
    border-bottom: none;
    border-top: none;
    margin-bottom: 0;
    margin-top: 0px;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .nav-tabs {
    border: none;
  }
  
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-tabs > li {
    margin: 10px;
    text-align: right;
    margin-right: 0;
    float: none;
    width: 100%;
  }
  .nav-tabs > li > a {
    border-right: 6px solid #d2d3d4;
    padding: 0;
    padding-right: 15px;
    font-size: 1.2rem;
    line-height: 35px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
    position: relative;
    display: block;
    text-align: right;
    margin-right: 0;
  }
/*jUMBOTRON*/
.jumbotron{
  align-items: center;
  background-color: #0707b1;
  background-position:left center;
  background-size: cover;
  color: #ffffff;
  display: flex;
}
.section-padding-100-0{
padding-top: 100px;
  padding-bottom: 0;
}
.mb-50 {
  margin-bottom: 50px;
}
.card{
  margin-left: 40px;
  margin-right: 40px; 
  margin-bottom: 10px;
}

/*----responsive----*/
@media (max-width:575px) {
  .display-4 {
      font-size: 1.5rem;
  }
  .day h5 {
      background-color: #f8f9fa;
      padding: 3px 5px 5px;
      margin: -8px -8px 8px -8px;
  }
  .date {
      padding-left: 4px;
  }
}

@media (min-width: 576px) {
  .day {
      height: 14.2857vw;
  }
}