@charset "utf-8";
/* 1. Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* 2. Body and General Code */

.jumbotron{
  align-items: center;
  background-color: #0707b1;
  background-position:left center;
  background-size: cover;
  color: #ffffff;
  display: flex;
}
.section-padding-100-0{
padding-top: 100px;
  padding-bottom: 0;
}
.mb-50 {
  margin-bottom: 50px;
}