:root{
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  margin-top: 80px;
  margin-bottom: -30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif !important

}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: .75rem; }
  .rounded-6 { border-radius: 1rem; }

  .modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
  }
  .modal-sheet .modal-footer {
    padding-bottom: 2rem;
  } 
  .modal-alert .modal-dialog {
    width: 380px;
  }
  .border-right { border-right: 1px solid #eee; }
  .modal-tour .modal-dialog {
    width: 380px;
  }
  .header {
     color: #4F093F !important;
     font-family: san serif;
  }
  .btn {
    width: 90px;
  }
  .btn-lg {
    width: 190px;
  }
  .button {
    border-color: red;
    background-color:rgb(238, 3, 3); 
    color:red;
  }
 
  .subtext {
    color: #4F093F !important;
    font-family: san serif;
    font-size: large;
    align-content: center;
  }
  .btn-1 {
    background-color: #4F093F;
    color: white;
    border-radius: 8px;
    height: 50px;
    width: 160px;
    font-size: 24px;
    float: left;
  }
  .btn-1:hover {
    background-color: #723A65;
  }
  .form-floating {
      background-color: #F3F3F3;
  }
  .btn-4 {
    background-color: #fffffF;
    color: #4F093F;
    border-color: #4F093F;
    border-radius: 8px;
    height: 50px;
    width: 160px;
    font-size: 24px;
    float: right;
  }
  .btn-4:hover {
    background-color: #f3f3f3;
  }
  .form-floating {
      background-color: #F3F3F3;
  }
